<% admin = @club.club_users.find_by(user: current_user)&.is_admin %>

<div class="max-w-6xl mx-auto">
  <%= render "clubs/banner", club: @club, admin: admin %>
  <%= render "clubs/new_reading_notification", club: @club if @club.current_reading %>
  
  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <!-- Coluna da esquerda -->
    <div class="md:col-span-2 space-y-6">
      <%= render "clubs/current_book", club: @club, admin: admin %>
      <%= render "clubs/recent_discussions" %>
      <%= render "clubs/upcoming_events" %>
      <%= render "clubs/chat", club: @club, messages: @messages %>
    </div>
    
    <!-- Coluna da direita -->
    <div class="space-y-6">
      <%= render "clubs/club_info", club: @club %>
      <% if admin %>
        <%= render "clubs/manage_readings", club: @club, admin: admin %>
      <% end %>
      <%= render "clubs/reading_schedule" %>
      <%= render "clubs/next_book" %>
    </div>
  </div>
</div>