<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Bookclubapp" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <% if user_signed_in? %>
      <meta name="current-user-id" content="<%= current_user.id %>">
    <% end %>
    <%= action_cable_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    
    <!-- Google Fonts - Merriweather -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    
    <style>
      h1 {
        font-family: 'Merriweather', serif;
        font-weight: 700;
      }

      h2 {
        font-family:  ;
        font-weight: 700;
      }
      
      .merriweather {
        font-family: 'Merriweather', serif;
      }
      
      .merriweather-light {
        font-family: 'Merriweather', serif;
        font-weight: 300;
      }
      
      .merriweather-bold {
        font-family: 'Merriweather', serif;
        font-weight: 700;
      }
      
      .merriweather-black {
        font-family: 'Merriweather', serif;
        font-weight: 900;
      }
    </style>
  </head>

  <% if user_signed_in? %>
    <body class="bg-[#F2E9CE]">
      <header class="bg-white/90 text-white p-6 shadow-md backdrop-blur-md">
        <div class="container mx-auto flex justify-between items-center">
          <h1 class="text-xl font-bold text-[#8B2635]">Book Club App</h1>
          <nav>
              <span class="mr-2 text-[#8B2635]">Olá, <%= current_user.first_name %></span>
              <%= link_to "Sair", destroy_user_session_path, data: { turbo_method: :delete }, class: "bg-[#8B2635] hover:bg-gray-100 text-white font-bold py-1 px-4 rounded" %>
          </nav>
        </div>
      </header>
  <% end %>

    <main>
      <% if notice %>
        <div class="bg-[#F9EDEF] border border-[#8B2635] text-[#8B2635] px-4 py-3 rounded mb-4">
          <%= notice %>
        </div>
      <% end %>
      <% if alert %>
        <div class="bg-[#F9EDEF] border border-[#8B2635] text-[#8B2635] px-4 py-3 rounded mb-4">
          <%= alert %>
        </div>
      <% end %>
      
      <%= yield %>
    </main>
      <%= turbo_frame_tag "modal" %>
  </body>
</html>
